{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
          {% csrf_token %}
          <form method="POST" id="form">
            <!-- {% csrf_token %} -->
            <p>
              <label for="first_name">Name:</label>
              <input type="text" placeholder="Your Name" maxlength="200" required="" id="first_name">
            </p>
            <p>
              <label for="reservation_date">Reservation Date:</label>
              <input type="date" required="" id="reservation_date" />
            </p>
      
            <p>
              <label for="reservation_slot">Reservation time:</label>
              <select id="reservation_slot">
                <option value="0" disabled>Select time</option>
              </select>
            </p>
            <button type="button" id="button">Reserve</button>
          </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <h2>Bookings For <span id="today"></span></h2>
        <div id="bookings">
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
<script>
  // Function to format time as AM/PM
  function formatTime(time) {
    const ampm = time < 12 ? "AM" : "PM";
    const t = time < 12 ? time : time > 12 ? time - 12 : time;
    return `${t} ${ampm}`;
  }

  // Function to fetch and display bookings
  function getBookings() {
    const date = document.getElementById("reservation_date").value;
    document.getElementById("today").textContent = date;

    fetch("{% url 'bookings' %}" + "?date=" + date)
      .then((r) => r.json())
      .then((data) => {
        const reservedSlots = data.map((item) => item.fields.reservation_slot);
        let bookings = "";

        for (const item of data) {
          bookings += `<p>${item.fields.first_name} - ${formatTime(item.fields.reservation_slot)}</p>`;
        }

        let slotOptions = '<option value="0" disabled>Select time</option>';
        for (let i = 1; i < 24; i++) {
          const label = formatTime(i);
          if (reservedSlots.includes(i)) {
            slotOptions += `<option value="${i}" disabled>${label}</option>`;
          } else {
            slotOptions += `<option value="${i}">${label}</option>`;
          }
        }

        document.getElementById("reservation_slot").innerHTML = slotOptions;

        if (data.length === 0) {
          bookings = "No bookings";
        }

        document.getElementById("bookings").innerHTML = bookings;
      });
  }

  // Set the current date for "Reservation Date" input field
  const today = new Date().toISOString().split("T")[0];
  document.getElementById("today").textContent = today;
  document.getElementById("reservation_date").value = today;

  // Event listener for the "Reserve" button
  document.getElementById("button").addEventListener("click", function (e) {
    const formdata = {
      first_name: document.getElementById("first_name").value,
      reservation_date: document.getElementById("reservation_date").value,
      reservation_slot: document.getElementById("reservation_slot").value,
    };

    fetch("{% url 'bookings' %}", {
      method: "post",
      body: JSON.stringify(formdata),
    })
      .then((r) => r.text())
      .then((data) => {
        getBookings();
      });
  });

  // Initial call to get bookings on page load
  getBookings();
</script>
{% endblock %}

